<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Imprescindible para Next (App Router, hot, etc.) -->
    <webSocket enabled="true" />

    <!-- Deja pasar los errores de tu app, no los "pinte" IIS -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Compresión para respuestas dinámicas (JS/JSON/HTML) -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/xhtml+xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />

    <!-- Asegura que .json se sirva con el MIME correcto -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <!-- Proxy: reescribimos TODO hacia Node en localhost:3000 -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNext" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <!-- Si el archivo o directorio NO existe físicamente, proxyear -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
            <!-- Importante para cookies secure, redirects absolutos, etc. -->
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>

    <!-- Encabezados que ayudan a la app a saber que está detrás de proxy -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Forwarded-Proto" value="https" />
        <add name="X-Forwarded-Host" value="{HTTP_HOST}" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
